<h1>This is the new users page</h1>

<%= form_with model: @user, method: :post do |form| %>
  <div div class="align-items-center">
    <div>
      <%= form.label :firstname %><br>
      <%= form.text_field :firstname, class: "form-control" %><br>
    </div>

    <div>
      <%= form.label :lastname %><br>
      <%= form.text_field :lastname, class: "form-control" %><br>
    </div>

    <div>
      <%= form.label :username %><br>
      <%= form.text_field :username, class: "form-control" %><br>
    </div>

    <div>
      <%= form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div>
      <%= form.submit "Submit", class: "btn btn-success" %>
      <%= link_to 'Go Back', users_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>